

@model MojaAplikacja.Models.User
@{
    ViewBag.Title = "ShowProfile";
}

<h2>@ViewBag.description</h2>
@using (Html.BeginForm("AddPhoto", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    if (Request.IsAuthenticated)
    {
        <div>
                <p>User Name: @Model.UserName </p>
                <p>Email Adress: @Model.EmailAdress.ToString()</p>
            @if(Model.PhotoPath != null)
            { 
               
                <img src="@Url.Content(Model.PhotoPath)" alt="Image" width="450" height="350" />
            }
                <div class="editor-field">
                    <input id="PhotoPath" title="Upload Image" type="file" name="file" />
                </div>
                <p><input type="submit" value="Upload" /></p>
         </div>
         <div id="ChPass">
                 @Html.Label("Old Password", new { @class = "control-label col-md-2"})
                 @Html.Password("OldPassword","",new { @class="form-control", @id="OldPassword"})
                 @Html.Label("New Password", new { @class = "control-label col-md-2" })
                 @Html.Password("NewPassword","", new { @class = "form-control", @id="NewPassword" })
                 @Html.Label("New Confirm", new { @class = "control-label col-md-2" })
                 @Html.Password("NewConfirm", "", new { @class = "form-control", @id = "NewConfirm" })
         </div>
         <a href="#" id="changePass">Change Password</a>
        
    }
    else
    {
        @Html.ActionLink("Log in", "LogIn", "User");
    }
}
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.js"></script>"
    <script type="text/javascript">
        $(document).ready(function () {
            $("#ChPass").dialog({
                autoOpen: false,
                title: "ChangePassword",
                width: "auto",
                height: "auto",
                modal: true,
                buttons: {
                    'Confirm': function () {
                        var old = ($("#OldPassword").val());
                        var new1 = ($("#NewPassword").val());
                        if ('@Model.Password' == $("#OldPassword").val()) 
                        {
                            if ($("#NewPassword").val() != $("#OldPassword").val())
                            {
                                if ($("#NewPassword").val() == $("#NewConfirm").val())
                                {
                                    $.post("/User/ChangePassword", { Password: $("#NewPassword").val() }, function (response) { alert("Hello") });
                                    $(this).dialog('close');

                                }
                                else
                                {
                                    alert("Password do not match");
                                }
                            }
                            else
                            {
                                alert("No difference between new and old password");
                            }
                        }
                        else
                        {
                            alert("Old Password is the same as New one");
                        }
                        }

                    }

            });
            $("#changePass").click(function () {
                $("#ChPass").dialog("open");
            });
        });




    </script>
    }







